@import "base";

.relative { position: relative; }
.hr {
  height: 1px;
  overflow: hidden;
  background: #DAE2ED;
  border-top: 1px solid #fff;
}

.imgleft {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.imgright {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

.imgcenter {
  display: block;
  margin: 0 auto;
}

/* Floats */
.left { float: left; }
.right { float: right; }

/* Clearing floats */
.cleft  { clear: left; }
.cright { clear: right;}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:before,
.clearfix:after {content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after {clear:both}
.clearfix{zoom:1}

.inner { padding: 10px; }

.box-block {
  background: white;
  @include box-shadow(rgba(0,0,0,0.2), 0, 1px, 3px);
}
.box-rounded {
  @include border-radius(4px);
}
  .box-inner {
    padding: 20px;
  }



/** 
 * Spacing classes 
 * Should be used to modify the default spacing between objects (not between nodes of the same object)
 * Please use judiciously. You want to be using defaults most of the time, these are exceptions! 
 * <type><location><size>
 */

/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(5px),medium(10px),large(15px),none(0px)

Get it from here https://github.com/stubbornella/oocss/blob/master/core/spacing/space.css
*/

.ptn,.pvn,.pan{padding-top:0px}
.pts,.pvs,.pas{padding-top:5px}
.ptm,.pvm,.pam{padding-top:10px}
.ptl,.pvl,.pal{padding-top:15px}
.prn,.phn,.pan{padding-right:0px}
.prs,.phs,.pas{padding-right:5px}
.prm,.phm,.pam{padding-right:10px}
.prl,.phl,.pal{padding-right:15px}
.pbn,.pvn,.pan{padding-bottom:0px}  
.pbs,.pvs,.pas{padding-bottom:5px}
.pbm,.pvm,.pam{padding-bottom:10px}
.pbl,.pvl,.pal{padding-bottom:15px}
.pln,.phn,.pan{padding-left:0px}
.pls,.phs,.pas{padding-left:5px}
.plm,.phm,.pam{padding-left:10px}
.pll,.phl,.pal{padding-left:15px}
.mtn,.mvn,.man{margin-top:0px}
.mts,.mvs,.mas{margin-top:5px}
.mtm,.mvm,.mam{margin-top:10px}
.mtl,.mvl,.mal{margin-top:15px}
.mrn,.mhn,.man{margin-right:0px}
.mrs,.mhs,.mas{margin-right:5px}
.mrm,.mhm,.mam{margin-right:10px}
.mrl,.mhl,.mal{margin-right:15px}
.mbn,.mvn,.man{margin-bottom:0px}  
.mbs,.mvs,.mas{margin-bottom:5px}
.mbm,.mvm,.mam{margin-bottom:10px}
.mbl,.mvl,.mal{margin-bottom:15px}
.mln,.mhn,.man{margin-left:0px}
.mls,.mhs,.mas{margin-left:5px}
.mlm,.mhm,.mam{margin-left:10px}
.mll,.mhl,.mal{margin-left:15px}
