@import "config";

/* ================================================== */
/* = Typography: Headings, paragraphs, font-size... = */
/* ================================================== */

body {
  font: 12px/17px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: $cbody;
}

/* Typo scaler */
.smaller { font-size: .8em; line-height: 1.4; }
.small, small { font-size: .925em; line-height: 1.3; }
.medium { font-size: 1.125em; line-height: 1.3; margin-bottom: 1em; }
.large { font-size: 1.25em; line-height: 1.4; margin-bottom: 1em; }
.larger { font-size: 1.5em; line-height: 1.3; }

.caps       { text-transform: uppercase; }
.small-caps { font-variant: small-caps; }

/* Shhhh */
.quiet { color: #555; }

/* Alternative typo */
.alt { font-size: 1.4em; line-height: 1.4; color: #454545; font-family: $typo-alt; }
.altfont { font-family: $typo-alt; }

/* Text alignment */
.aleft    { text-align: left; }
.acenter  { text-align: center; }
.aright   { text-align: right; }

/* =========== */
/* = Headings = */
/* =========== */
h1, .h1 {
  font: normal 30px/1 $typo-alt; 
  color: $cbleu;
  margin-bottom: 12px;
  border: none;
  text-decoration: none;
}
  h1 strong, .h1 strong { color: #2F2F2F; font-weight: normal; }

h2, .h2 { 
  font: normal 18px/1.125 $typo-alt;
  margin-bottom: 16px;
  color: #555;
  border: none;
  text-transform: none;
}
  h2 a, .h2 a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
h3 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: .5em;
}
h4, .h4 {
  font: bold 14px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin-bottom: 18px;
  color: #222;
  border: none;
  text-decoration: none;
}
h5, .h5 {
  font: bold 12px/18px $typo-alt;
  zoom: 1;
  margin: 0;
  color: $cvertfonce;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
}
h6, .h6 {
  font: bold 11px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #666;
  border: none;
  text-decoration: none;
}

/* Cool sup & sub that don't mess with line height */
sup,
sub {
  bottom: 0.425em;
  font-size: 11px !important;
  font-weight: normal !important;
  padding-left: 1px;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.33em;
}

em, i { font-style: italic; }


/* ========= */
/* = Links = */
/* ========= */
a {
  color: $cbleu;
}
/* =================================================== */
/* = Paragraphs, Definition Lists, (Un)Ordered Lists = */
/* =================================================== */
p, ul, ol, blockquote, pre {
  margin-bottom: 1.5em;
  @include border-radius(4);
}

ol,
ul {
  padding-left: 1.8em;
}
  ul ul {
    list-style-type: circle;
  }
.content-secondary .item-list ul,
.menu,
.sidelist {
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;
  li {
    margin: 0 0 .5em;
  }
  a {
    color: $cgrisfonce;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $cviolet;
      text-decoration: underline;
    }
  }
}
.nobullets,
.nobullets li {
  list-style-type: none;
}
.list-semantic {
  padding-left: 0;
  margin-bottom: .5em;
}
  .list-semantic li {
    margin-bottom: .5em;
  }
.list-inline {
  list-style-type: none;
  margin: 0 auto 1.5em;
  padding: 0;
  text-align: center;
  li {
    display: inline;
    margin: 0 0.5em;
  }
}
.list-separators {
  li + li:before {
    content: "•";
    margin: 0 2em 0 0;
    opacity : .33;
    -moz-opacity: .33;
    font-size: .5em;
    position: relative;
    top: -.33em;
  }
}

blockquote {
  clear: both;
  padding-left: 2em;
}


/* ========== */
/* = Colors = */
/* ========== */


