- @site_name = ""
%meta{:charset => "utf-8"}
%title<
  = @page_title
- if @page_description
  %meta{:name => "description", :content => @page_description}
  
/ Favicon
%link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}
%link{:href => "/favicon.ico", :rel => "Shortcut Icon", :type => "image/x-icon"}
/ SEO
%meta{:content => "ALL", :name => "robots"}
%meta{:content => "Public", "http-equiv" => "cache-control"}
/ IE Tweaks
%meta{:content => "no", "http-equiv" => "imagetoolbar"}
%meta{:content => "true", :name => "MSSmartTagsPreventParsing"}

= stylesheets :application
%link{:href => "/javascripts/fancybox/jquery.fancybox-1.3.4.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

= stylesheets :pages